
<div  ng-controller="formCtrl">
  
    First Name: <input type="text" ng-model="firstname">
    Last Name: <input type="text" ng-model="lastname">
	
 <br>Gender:   
 <input type="radio"  ng-model="gender" value="male" checked> Male
  <input type="radio" ng-model="gender" value="female"> Female
  <input type="radio" ng-model="gender" value="other"> Other 
  <br>Department:
 <input type="checkbox"  ng-model="department" value="cse">Cse
  <input type="checkbox" ng-model="department1" value="it"> It
  <input type="checkbox" ng-model="department2" value="ece"> Ece

	
    
	<br>{{fullname()}}<br/>
	
<button ng-click="add()">add</button>	
</div>
